<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="footer" th:fragment="footer">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-top pb-3 mb-3">
            <p class="text-muted nav-link mt-2">&copy; 2019 Company, Inc</p>
            <p class="text-muted nav-link mt-2">주소지입니다</p>
            <p class="text-muted nav-link mt-2">대표자입니다.</p>
            <p class="text-muted nav-link mt-2">Tel: 전화번호입니다.</p>
            <p class="text-muted nav-link mt-2">e-mail: 이메일입니다.</p>
          </ul>
        </footer>
      </div>
</body>
</html>