body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", Helvetica, sans-serif;
}
  
  .velo-slide__vid {
    width: 80%; /* 동영상 크기 (화면 너비의 80%) */
    height: auto; /* 비율 유지 */
    border-radius: 50px; /* 둥근 모서리 */
    position: relative;
  }

  /* 글씨 오버레이 스타일 */
.overlay-text {
    top: 50%;
    left: 50%;
    transform: translate(-48%, -570%); /* 중앙 정렬 */
    color: white;
    z-index: 2; /* 영상 위로 배치 */
    position: relative; /* 부모 요소 기준 */
}


  .overlay-text h3 {
    font-size: 40px;
    font-family: "Montserrat", Helvetica, sans-serif;
}