<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/boardlist.css}">
    <title>게시글 리스트 페이지</title>
</head>
<style>

</style>
<body>
    <div th:replace="layout/header :: navbar"></div>
    <div class="layout">
        <table class="table table-hover table-striped" style="border: 1px solid;">
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td>
                        <a th:text="${board.id}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-container mt-3 mb-3">
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            </th:block>
        </div>
        <div class="d-flex gap-2 justify-content-center">
            <form th:action="@{/board/list}" method="get" class="d-flex">
                <input class="form-control me-2" type="text" name="searchKeyword" placeholder="Search">
                <button class="btn btn-primary rounded-pill px-3" type="submit">검색</button>
            </form>
            <form th:action="@{/board/write}" method="get">
                <button class="btn btn-primary rounded-pill px-3" type="submit">작성</button>
            </form>
        </div>        
    </div>
    <div th:replace="~{layout/footer}"></div>
</body>
</html>
