<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<head>
    <title>SpringBoot</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
</head>
<body>
    <div th:replace="layout/header :: navbar"></div>
    <div class="container-fluid p-0">
        <div class="video-carousel-row">
            <!-- 비디오 섹션 -->
            <div class="video-section position-relative" style="width: 1200px; margin: 0 auto;">
                <video autoplay muted loop class="w-100 h-80x object-fit-cover" style="border-radius: 30px;">
                    <source src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/heroVisual/9b2e2582019300001.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                
                <div class="position-absolute ms-4 mt-4 text-white" style="top: 50px; left: 50px;">
                    <h3 class="fw-bold" style="font-size: 2.5rem;">
                        <span>시니어를 디지털 일상으로</span>
                        <p class="mb-0"><span>더 가깝게</span></p>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/footer}"></div>
</body>
</html>